body, html {
  height: 100%;
  width: 100%;
}

.bg {

  background-image: url("/landingpage.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#brandname {
	font-size: 1.7em;
}

.nav-item {
	font-size: 1.1em;

}

ul.nav a:hover {
	color: #fff !important;
}

.nav-link{
	color: grey;
}

#main{
	background-image: url("/landingpage.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas {
	width: 50%;
	height:50%

}